{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}
<h2>Select menu that you ate!!</h2>
<form name="friend" action="{{bill.id}}" method="POST" id="friend-form">{% csrf_token %}
	<input id="name" name="name" placeholder="Your Name" type="text" required="">
	<h2>{{bill.name}}</h2>
	<table>
		{% for item in items %}
			<tr>
				<td><input type="checkbox" name="ate" value="{{item.id}}"></td>
				<td>{{item.name}}</td>
				<td>{{item.price}}</td>
			</tr>
		{% endfor %}
	</table>
	<input type="submit" value="Submit">
</form>
{% endblock %}
