{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
	<div class="small-12 medium-12 large-12 text-center"><h3>Create your bill here!!</h3></div>
</div>
<form name="host" action="." method="POST" id="host-form">{% csrf_token %}
	<div class="row">
		<div class="large-12 columns">
			{{ form.bill_name }}
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<table class="item">
				<thead>
					<tr>
						<td>Menu name</td>
						<td>Menu amount</td>
						<td>Menu Price</td>
						<td></td>
					</tr>
				</thead>
				<tr>
					<td>{{ form.item_name }}</td>
					<td>{{ form.item_amount }}</td>
					<td>{{ form.item_price }}</td>
					<td><a class="large-12 columns add-item button round">Add more item</a></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row text-center"><button type="submit" class="success button round">Create Bill</button></div>
</form>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script type="text/javascript">
	$(document).on("change", ".amount", function(e) {
		var amount_text = $( this ).val();
		var amount_number = parseInt(amount_text);
		if (amount_text != amount_number){
			$( this ).val(1);
			alert('Please input amount as number');
			
		}
	});
	$(document).on("change", ".price", function(e) {
		var price_text = $( this ).val();
		var price_number = parseFloat(price_text);
		if (price_text != price_number){
			$( this ).val(0);
			alert('Please input price as number');
			
		}
	});
</script>
<script type="text/javascript">
	$(document).on("click", ".add-item", function(e) {
		$('.add-item').addClass('remove-item alert');
		$('.add-item').text('Remove');
		$('.add-item').removeClass('add-item');
		$('.item').append('<tr><td>{{ form.item_name }}</td><td>{{ form.item_amount }}</td><td>{{ form.item_price }}</td><td><a class="large-12 columns add-item button round">Add more item</a></td></tr>');
	});
	$(document).on("click", ".remove-item", function(e) {
		$(this).closest("div").remove(); 
	});
</script>
{% endblock %}
